<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<h1>Users</h1>
<button
        class="btn btn-success"
        th:data-state="add"
        onclick="openInviteModal(this)">+Invite user
</button>


<div th:unless="${#lists.isEmpty(users)}">
    <table class="table table-stripped">
        <thead>
        <tr>
            <th th:text="Tartib"/>
            <th th:text="Name"/>
            <th th:text="Email"/>
            <th th:text="Role"/>
            <th colspan="3" th:text="Action"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${{userStat.index+1}}"/>
            <td th:text="${{user.name}}"/>
            <td th:text="${{user.email}}"/>
            <td th:text="${{user.role.name}}"/>
            <td>
                <button
                        class="btn btn-warning"
                        th:data-id="${user.id}"
                        th:data-state="edit"
                        th:data-name="${user.name}"
                        th:data-email="${user.email}"
                        onclick="openEditModal(this)">Edit
                </button>
            </td>
            <td>
                <button
                        class="btn btn-danger"
                        onclick="openDeleteModal(this)"
                        th:data-id="${user.id}"
                        th:data-name="${user.name}">
                    Delete
                </button>
            </td>
            <td>
                <button
                        class="btn btn-danger"
                        onclick="openChangeEnabledModal(this)"
                        th:data-id="${user.id}"
                        th:data-name="${user.name}">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--DELETE MODAL START-->
<div>
    <button id="deleteUserModalButton"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#deleteUserModal"
            hidden>
    </button>
    <div class="modal" id="deleteUserModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete user</h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal">
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Do you want to delete user?</p>
                    <p id="forFirstName"></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <form th:action="@{/user/remove}"
                          method="post">
                        <input
                                type="text"
                                id="userId"
                                name="id"
                                hidden>
                        <button
                                class="btn btn-danger">Yes
                        </button> &nbsp;&nbsp;
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--DELETE MODAL FINISH-->

<!--CHANGE ENABLED MODAL START-->
<div>
    <button id="deleteUserModalButton"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#deleteUserModal"
            hidden>
    </button>
    <div class="modal" id="deleteUserModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete user</h4>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal">
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Do you want to delete user?</p>
                    <p id="forFirstName"></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <form th:action="@{/user/remove}"
                          method="post">
                        <input
                                type="text"
                                id="userId"
                                name="id"
                                hidden>
                        <button
                                class="btn btn-danger">Yes
                        </button> &nbsp;&nbsp;
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CHANGE ENABLED MODAL FINISH-->

<!--EDIT MODAL START-->
<div>
    <button id="editUserModalButton"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#editUserModal"
            hidden>
    </button>
    <div class="modal" id="editUserModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form
                        id="yuborish"
                        th:data-state="null"
                        onsubmit="return sendBackend(this)"
                        method="post">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4
                                class="modal-title"
                                id="modalTitle"
                        ></h4>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal">
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <input
                                type="text"
                                name="id"
                                id="id"
                                hidden>
                        <label for="firstName">First name</label>
                        <input
                                type="text"
                                name="firstName"
                                id="firstName">
                        <br>
                        <label for="lastName">Last name</label>
                        <input
                                type="text"
                                name="lastName"
                                id="lastName">
                        <br>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button
                                type="button"
                                class="btn btn-light"
                                data-bs-dismiss="modal">Close
                        </button>

                        <button
                                class="btn btn-danger">Yes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--EDIT MODAL FINISH-->


<!--INVITE MODAL START-->
<div>
    <button id="inviteUserModalButton"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#inviteUserModal"
            hidden>
    </button>
    <div class="modal" id="inviteUserModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form
                        id="inviteForm"
                        th:action="@{/api/v1/user}"
                        method="post">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Invite user</h4>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal">
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <label for="name">Name</label>
                        <input
                                type="text"
                                name="name"
                                id="name">
                        <br>
                        <label for="email">Email</label>
                        <input
                                type="email"
                                name="email"
                                id="email">
                        <br>
                        <label for="roleId">Role</label>
                        <select class="form-control" name="roleId" id="roleId">
                            <option value="0" disabled>select operator</option>
                            <option th:each="role : ${roles}" th:value="${role.id}"
                                    th:text="${role.name}"></option>
                        </select>
                        <br>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button
                                type="button"
                                class="btn btn-light"
                                data-bs-dismiss="modal">Close
                        </button>

                        <button
                                class="btn btn-danger">Yes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--INVITE MODAL FINISH-->


<script>
    function openDeleteModal(e) {
        document.getElementById("userId").value = e.getAttribute('data-id');
        document.getElementById("forFirstName").innerText = e.getAttribute('data-name');
        let modalOpenButton = document.getElementById("deleteUserModalButton");
        modalOpenButton.click();
    }

    function openInviteModal(e) {
        document.getElementById("inviteUserModalButton").click();
    }

    function openEditModal(e) {
        let id = e.getAttribute("data-id");
        let state = e.getAttribute("data-state");
        let firstName = e.getAttribute("data-firstName");
        let lastName = e.getAttribute("data-lastName");
        document.getElementById("id").value = id;
        document.getElementById("firstName").value = firstName;
        document.getElementById("lastName").value = lastName;
        document.getElementById("yuborish").setAttribute("data-state", state);
        if (state === 'add') {
            document.getElementById("modalTitle").innerText = 'Add user';
        } else {
            document.getElementById("modalTitle").innerText = 'Edit user';
        }
        document.getElementById("editUserModalButton").click();
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>