<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tariff Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<body class="p-5 m-5 shadow">
<a href="/api/v1/cabinet" class="btn btn-secondary">Back</a>
<div class="container">
    <h2 class="mb-4">All Tariff</h2>
    <ul class="list-group">
        <li th:each="subject: ${tariffs}" class="list-group-item d-flex justify-content-between align-items-center">
            <span th:text="${subject.getName()}"></span>
            <span th:text="${subject.getDescription()}"></span>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" th:attr="data-tariff-id=${subject.getId()}">
                Edit
            </button>

        </li>
    </ul>
    <a th:href="@{/api/user_role}" class="btn btn-warning mt-4" style="color: white;">Add Subject</a>
</div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/api/tests}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="question" placeholder="enter question description..." class="form-control mt-2">
                        <div class="form-check mt-2">
                            <input type="text" name="answer1" class="form-control mt-2" placeholder="Enter answer text...">
                        </div>
                        <div class="form-check mt-2">
                            <input type="text" name="answer2" class="form-control mt-2" placeholder="Enter answer text...">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-dismiss="modal">Save Question</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var tariffId = button.data('data-tariff-id'); // Get the tariff ID from the button
console.log(tariffId)
            // You can now use 'tariffId' as needed, for example, in an AJAX request to fetch additional data.
        });
    });
</script>

<!-- Add Bootstrap JavaScript (optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>



</body>


</html>
