<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<head >
    <title>Home page</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a sec:authorize="isAnonymous()" class="navbar-brand" href="#">NoBody</a>
    <a sec:authorize="isAuthenticated()" class="navbar-brand" href="#" th:text="${#authentication.name}">NoBody</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" sec:authorize="hasRole('ADMIN')" href="sim/simCard">Numbers service</a>
                    <a class="dropdown-item" sec:authorize="hasRole('ADMIN')" href="tariff/tariffPage">Tariff service</a>
                    <a class="dropdown-item" sec:authorize="hasRole('ADMIN')" href="history/historyPage">Active numbers</a>
                    <a class="dropdown-item" sec:authorize="hasRole('ADMIN')" href="sellsMen/sellsMenPage">Invite seller</a>
                    <a class="dropdown-item" sec:authorize="hasRole('SELLER')" href="seller/sellerPage">GIVE NUMBER TO CUSTOMER</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="new-link" th:href="@{/auth/register}"> Register </a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <br>
                <a class="new-link" th:href="@{/auth/login}"> Login </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <br>
                <a class="new-link" th:href="@{/api/v1/auth/logout1}"> Logout </a>
            </li>


        </ul>
    </div>
</nav>
<h1>Welcome to UZMOBILE COMPANY </h1>

<section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


</section>

</body>
</html>