<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Cabinet</title>
</head>
<body>
<h1>Cabinet page </h1>

<a th:href="@{/api/v1/user}">Users</a>
<a th:href="@{/api/v1/role}">Roles</a>
</body>
</html>