<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SimCard Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<a href="/api/v1/cabinet" class="btn btn-secondary">Back</a>

<div class="container">
    <h1 class="mt-4">Add Number (91*******)</h1>
    <form th:action="@{'/api/v1/sim/simCard'}" method="post" th:object="${simCardDTO}" class="mt-3">
        <div class="form-group">
            <label for="number">Number:</label>
            <input type="text" id="number" name="number" class="form-control" placeholder="Oka faqat 9 unique raqam kiriting"/>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <h1 class="mt-4">SimCardList</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th> <!-- Column for ordered numbers -->
            <th>Number</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="simCard, stat : ${simlist}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${simCard.number}"></td>
            <td>
                <form th:action="@{/api/v1/sim/delete/{id}(id=${simCard.getId()})}" method="get">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Back Button -->

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
