<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Number</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<a href="/api/v1/seller/sale" class="btn btn-secondary">Back</a>

<div class="container">
    <h1 class="mt-4">Choose Number</h1>
    <form action="/api/v1/seller" method="post">
        <input type="hidden" name="customerId" th:value="${customer.passportID  }">
        <div class="mb-3">
            <label for="simcardNumber" class="form-label">Select SIM Card:</label>
            <select class="form-select" id="simcardNumber" name="simcardNumber" required>
                <option value="" th:text="SelectaSIMCard"></option>
                <th:block th:each="simcard : ${numbers}">
                    <option th:value="${simcard.id}" th:text="${simcard.number}"></option>
                </th:block>
            </select>
        </div>

        <div class="mb-3">
            <label for="tariff" class="form-label">Select Tariff:</label>
            <select class="form-select" id="tariff" name="tariff" required>
                <option value="" th:text="SelectaTariff"></option>
                <th:block th:each="tariff : ${tariffs}">
                    <option th:value="${tariff.id}" th:text="${tariff.name}"></option>
                </th:block>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
