<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Sales Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Add custom styles here if needed */
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
        h1 {
            color: #343a40;
        }
        table {
            width: 100%;
            margin-top: 20px;
            background-color: #fff;
        }
        th, td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<a href="/api/v1/seller/sellerPage" class="btn btn-secondary">Back</a>

<div class="container">
    <h1 class="mt-4">Numbers</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="simCard, stat : ${simList}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${simCard.number}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Link to Bootstrap JS (you can add this before </body> if needed) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
