<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Tariff Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet"> <!-- Add your custom CSS file here -->
</head>
<body>
<a href="/api/v1/seller/sellerPage" class="btn btn-secondary">Back</a>

<div class="container">
    <h1 class="mt-4">Tariff List</h1>
    <table class="table table-bordered custom-table"> <!-- Add a custom CSS class for styling -->
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tariff, stat : ${tariffs}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${tariff.name}"></td>
            <td th:text="${tariff.description}"></td>
            <td><a href="#" class="btn btn-primary">View Details</a></td> <!-- Example button for action -->
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
