<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Tariff Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet"> <!-- Add your custom CSS file here -->
</head>
<body>
<a href="/api/v1/cabinet" class="btn btn-secondary">Back</a>

<div class="container">
    <h1 class="mt-4">Abanetlar</h1>
    <table class="table table-bordered custom-table"> <!-- Add a custom CSS class for styling -->
        <thead>
        <tr>
            <th>#</th>
            <th>FullName</th>
            <th>Number</th>
            <th>Tariff</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, stat : ${userList}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${user.fullName}"></td>
            <td th:text="${user.numbers}"></td>
            <td th:text="${user.tariff}"></td>
            <td th:text="${user.blocked}"></td>
            <td>
                <a th:href="@{/api/v1/history/{id}(id=${user.id})}"  class="btn btn-primary">Block User</a>
            </td>
            <td>
                <a th:href="@{/api/v1/history/open/{id}(id=${user.id})}"  class="btn btn-primary">Not Block</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
